.background {
    position: relative;
    width: 100%;
}

.backgroundimage {
    position: relative;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(65%);
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;

}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 0 20px;
}

.title {
    font-size: 60px;
    font-family: "Georgia", serif;
    margin-bottom: 15px;
    font-weight: bold;
    color: #f5f5f5;
}

.subtitle strong {
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    color: antiquewhite;
    display: inline-block;
}

.branch {
    font-size: 50px;
    font-family: "Segoe UI", sans-serif;
    margin-top: 10px;
    color: #e0e0e0;
}

.div-2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.div-3 {
    margin: 10px auto;
    max-width: 1000px;
    padding: 10px;
    margin-bottom: 40px;
}

.div-3-text {
    background-color: #0c1a2b;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}

.card-content {
    flex: 1;
    background-color: #0c1a2b;
    padding: 20px 18px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.95rem;
    line-height: 1.6;
}

.card-side-image {
    flex: 1;
    max-height: 450px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-side-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .div-2 {
        flex-direction: column;
        align-items: center;
    }

    .card-content,
    .card-side-image {
        width: 100%;
    }
}

.screen-split {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.slider-section {
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section {
    width: 700px;
    border-radius: 30px;
    /* background-color: #0c1a2b; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.slider {
    width: 90%;
    height: auto;
}

.slider img {
    width: 100%;
    height: auto;
    display: none;
}

img.displaySlide {
    display: block;
    animation: fade 1.5s;
}

@media (max-width: 768px) {
    .screen-split {
        flex-direction: column;
        height: auto;
    }

    .slider-section,
    .card-section {
        width: 100%;
        height: auto;
    }

    .slider {
        width: 100%;
    }

    .slides img {
        width: 100%;
        height: auto;
    }

    .prev,
    .next {
        font-size: 24px;
    }
}