.screen-split {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.slider-section {
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-section {
    width: 700px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.slider {
    width: 90%;
    height: auto;
    position: relative;
}

.slides {
    position: relative;
    width: 100%;
    height: auto;
}

.slider img {
    width: 100%;
    height: auto;
    display: none;
}

img.displaySlide {
    display: block;
    animation: fade 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.card-section {
    /* position: absolute; */
    width: 700px;
    border-radius: 30px;
    background-color: #0c1a2b;
    /* border: black 1px solid; */
    /* background-color: #0c1a2b; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    overflow: hidden;
}
.card-section-title
{
    /* border: red 3px solid; */
    color: #F8C1A5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size:xx-large;
    flex : 1 auto;
}
.card-section-content
{
    /* border: red  2px solid; */
    color: white;
    width: 100%;
    position: relative;
    height: 520px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    text-align: left;
    /* overflow: hidden; */
    mask-image : linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
}
.item
{
    padding: 0px 30px;
    position: absolute;
    top: max(calc(100px*6),100%);
    animation: scrollup 20s linear infinite
}
.item1
{
    animation-delay: calc(20s / 6 * (6 - 1) * -1);
}
.item2
{
    animation-delay: calc(20s / 6 * (6 - 2) * -1);
}
.item3
{
    animation-delay: calc(20s / 6 * (6 - 3) * -1);
}
.item4
{
    animation-delay: calc(20s / 6 * (6 - 4) * -1);
}
.item5
{
    animation-delay: calc(20s / 6 * (6 - 5) * -1);
}
.item6
{
    animation-delay: calc(20s / 6 * (6 - 6) * -1);
}

@keyframes fade {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

@media (max-width: 1320px) {
    .screen-split {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        /* gap: 50px;    */

    }

    .slider-section,
    .card-section {
        width: 95%;
        /* height: 100vh; */
    }

    .slider {
        width: 600px;
        height: 500px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .slides img {
        width: 100%;
        height: 70%;
        
    }

    .prev,
    .next {
        font-size: 1.5rem;
        padding: 8px 12px;
    }
}

@media (max-width: 680px){
    .card-section{
        height: 500px;
    }
}